vscode/__pycache__
vscode/AIST_GaitDB2019
vscode/c3d
vscode/img
vscode/don't_use_afteropensim
vscode/.venv
vscode/project
vscode/aist_dataset_classes.csv
vscode/config.py
vscode/don'tuse.py
thesis

MATLAB/peak_knee_flexion_Swing_ROM.fig
MATLAB/variable_names_trc.txt
MATLAB/variable_names.txt
